<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>346344441219-ec2s1788ml45tpc4sq91f5bvqgrc00jb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346344441219-ec2s1788ml45tpc4sq91f5bvqgrc00jb</string>
	<key>API_KEY</key>
	<string>AIzaSyAi6RWst7AtR1_gr0Ljb45jUthed5oiT6M</string>
	<key>GCM_SENDER_ID</key>
	<string>346344441219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexanderchudinov.hackthevalleyiii</string>
	<key>PROJECT_ID</key>
	<string>hackthevalleyiii</string>
	<key>STORAGE_BUCKET</key>
	<string>hackthevalleyiii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346344441219:ios:2b027181adeae7fd</string>
	<key>DATABASE_URL</key>
	<string>https://hackthevalleyiii.firebaseio.com</string>
</dict>
</plist>